* {
  margin: 0;
  padding: 0;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 30vw;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  line-height: 100vh;
  mix-blend-mode: soft-light;
  /* mix-blend-mode: screen; */
}
